@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0 5px;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

nav {
  background-color: black !important;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

  